################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/music-web-api/.vs
/music-web-api/music-web-api/obj
